<div class="password-strength">
  <div
    class="section"
    id="section1"
    [ngClass]="{
      too_small: passwordStrength == 'too_small',
      easy: passwordStrength == 'easy',
      medium: passwordStrength == 'medium',
      strong: passwordStrength == 'strong'
    }"
  ></div>
  <div
    class="section"
    id="section2"
    [ngClass]="{
      too_small: passwordStrength == 'too_small',
      medium: passwordStrength == 'medium',
      strong: passwordStrength == 'strong'
    }"
  ></div>
  <div
    class="section"
    id="section3"
    [ngClass]="{
      too_small: passwordStrength == 'too_small',
      strong: passwordStrength == 'strong'
    }"
  ></div>
</div>
<p>Password check: {{ passwordStrength }}</p>
