<div>
  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    [(ngModel)]="password"
    (input)="calculateStrength()"
  />

  <div class="strength-indicator">
    <div
      [ngClass]="{
        red: strength === 'easy',
        yellow: strength === 'medium',
        green: strength === 'strong'
      }"
    ></div>
    <div
      [ngClass]="{
        red: strength === 'easy' || strength === 'medium',
        yellow: strength === 'medium',
        green: strength === 'strong'
      }"
    ></div>
    <div
      [ngClass]="{
        red: strength === 'easy' || strength === 'medium',
        yellow: strength === 'medium',
        green: strength === 'strong'
      }"
    ></div>
  </div>
</div>
