.strength-indicator {
  display: flex;
  margin-top: 10px;
}

.strength-indicator div {
  flex: 1;
  height: 10px;
  min-width: 20px;
  margin-right: 5px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
